{% comment %}
<div class="tile ghost" id="contributeTile">
  <h2 class="h3 lhs"><a href="{{site.contribute-url}}">Got something <br>to add?</a></h2>
  <p><a href="{{site.contribute-url}}">Submit an example</a></p>
  </a>
</div>
{% endcomment %}

<div class="tile" id="carbs">
  <noscript>
    <div class="tile ghost" id="contributeTile">
      <h2 class="h3 lhs"><a href="{{site.contribute-url}}">Got something <br>to add?</a></h2>
      <p><a href="{{site.contribute-url}}">Submit an example</a></p>
      </a>
    </div>
  </noscript>
</div>