<div class="footer">
  <div class="wrapper">
    <footer class="site-footer">
        <p style="max-width: 26em;" class="h3"><a href="https://twitter.com/benbrignell">Ben Brignell</a> maintains <a href="/">principles.design</a> as an open source resource. To submit a new example create a pull request via the <a href="https://github.com/benbrignell/design-principles">GitHub repository</a>.</p>
        <hr>
        <h4>Join the community</h4>
          <p>If you want advice, to discuss Design Principles or need help contributing you are welcome to <a href="{{site.gitter-url}}">join our community on gitter</a> or find Design Principles on <a href="{{site.twitter-url}}">Twitter</a> or <a href="{{site.contribute-url}}">GitHub</a>
          </p>
        <ul class="logos">
          <li><a href="{{site.gitter-url}}"><img src="/images/gitter.svg" class="logo circle" alt="Talk about Design Principles on Gitter"></a></li>
          <li><a href="{{site.twitter-url}}"><img src="/images/twitter-icon.svg" class="logo" alt="Follow Design Principles on Twitter {{site.twitter}}"></a></li>
          <li><a href="{{site.contribute-url}}"><img src="/images/github-icon.svg" class="logo" alt="Contribute to this project on GitHub"></a><li>
        </ul>
        <p style="clear:both;">Thanks to the <a href="https://github.com/benbrignell/design-principles/graphs/contributors">contributors to this project</a> ❤️</p>

      </footer>
  </div>
</div>
