<div class="footer">
  <div class="wrapper">
    <footer class="site-footer">
      <div class="credit">
        <p style="max-width: 26em;" class="h3"><a href="https://twitter.com/benbrignell"><strong>Ben Brignell</strong></a> maintains <a href="/">principles.design</a> as an open source resource. To submit a new example take a look at the <a href="https://github.com/benbrignell/design-principles">GitHub repository</a>.</p>
      </div>
        <p class="h3 bold">Join the community</p>
          <p>The Design Principles community is for everyone. <a href="{{site.gitter-url}}">Join the Design Principles discussion on Gitter</a>. You can also find Design Principles on <a href="{{site.twitter-url}}">Twitter</a> & <a href="{{site.contribute-url}}">GitHub</a>.
          </p>
        <ul class="logos">
          <li><a href="{{site.gitter-url}}"><img src="/images/gitter.svg" class="logo circle" alt="Talk about Design Principles on Gitter"></a></li>
          <li><a href="https://twitter.com/dsgnprinciples"><img src="/images/twitter-icon.svg" class="logo" alt="Follow Design Principles on Twitter @dsngprinciples"></a></li>
          <li><a href="{{site.contribute-url}}"><img src="/images/github-icon.svg" class="logo" alt="Contribute to this project on GitHub"></a><li>
        </ul>
        <p style="clear:both;">Thanks to the <a href="https://github.com/benbrignell/design-principles/graphs/contributors">contributors to this project</a> ❤️</p>

      </footer>
  </div>
</div>
{{% if page.layout == examples %}}
    <script src="{{site.baseurl}}/js/list.min.js"></script>
    <script  src="{{site.baseurl}}/js/index.js"></script>
{{% endif %}}
