<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="/"></a>

    <nav class="site-nav">
      {% for page in site.pages %}
        {% if page.title %}
        <a class="page-link" href="{{ page.url }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
        <a class="page-link" href="https://github.com/benbrignell/design-principles">Contribute</a>
    </nav>
    {% if page.layout == "home" %}
    <h1 class="intro">Design Principles</h1>
    {% endif %}
  </div>

</header>
