<div style="padding: 0.6rem; background: #5103ff; color: #fff; text-align: center;">
  <strong>
    Privacy-first principles:
  </strong> 
  Get <strong>$10 credit</strong> today with Fathom Analytics. <a href="https://usefathom.com/ref/MSDPWY" style="color: #fff; white-space: nowrap;">Find out more</a>.
</div>

<header class="site-header">
    <div class="wrapper pbn">
    {% include nav.html %}
    {% if page.layout == "home" %}
    <h1 class="intro">Design <br>Principles</h1>
    {% include info-block.html title="An open source collection of Design Principles and methods." description=""%}
  </div>
<div>
    <div class="wrapper">

      {% assign authors =  site.examples | map: 'author' | uniq %}
      {% assign principles =  site.examples | map: 'principles' | join: '- principle:'  | split: '- principle:' | uniq %}
      <p class="full h3 mtn">The collection contains:</p>
      <div class="three-up">
        <p class="h1 bold mtn mbn">{{ site.examples.size }}</p>
        <p>Examples</p>
      </div>
      <div class="three-up">
        <p class="h1 bold mtn mbn">{{ principles.size }}</p>
        <p>Design Principles</p>
      </div>
      <div class="three-up">
        <p class="h1 bold mtn mbn">{{ authors.size }}</p>
        <p>Creators</p>
      </div>
    </div>
</div>
    {% endif %}
  </div>
</header>
