@charset "utf-8";

// "Reset" styles and SCSS reusable components
@import "normalize";
// @import "mixins";
@import "variables";

// Generic site base & layout styles
@import "base";
@import "typography";

// temporary styles while I figure out design ideas
@import "scratch"
