{% if missingOverview or missingSummary or missingAuthor or missingSource %}

  <div class="help-footer">
    <p class="h3 bold" style="margin-top: 0;">Help needed for "{{page.title}}" Design Principles!</p>
    <p>The following is missing from this set of principles: </p>

    {% if missingOverview %}
    <p><strong>Overview:</strong> e.g. </p><pre>
overview: This set of principles is designed to promote inclusivity and accessibility. This is achieved by…</pre>
    {% endif %}

    {% if missingAuthor %}
    <p><strong>Author:</strong> The name of the designer, company or team e.g. </p><pre>author: Margaret Attwood</pre>
    {% endif %}

    {% if missingSource %}
    <p><strong>Source:</strong>A link to the principles or an article about them e.g. </p><pre>
source: http://example.com
    </pre>
    {% endif %}

    {% if missingSummary %}
    <p><strong>Summary:</strong> Each design principle can have a brief summary, these could be a couple of lines or a detailed paragraph outlining how this principle is used or measured, e.g.</p>
      <pre>
- principle: Strive to be univeral
summary: Our aim is to be a resource that is helpful to everyone. We do this by strictly adhering to principles of progressive enhancement…</pre>

    {% endif %}
    {% if page.link %}
    <p><strong>Tip!</strong> You may be able to find the missing information at the source URL: <br><a href="{{page.link}}">{{page.link}}</a>.
    </p>
    {% endif %}
    <p>It would be great if you could contribute and <a href="{{site.contribute-url}}">update this set of principles</a> with anything that's missing!</p>

</div>
{% endif %}
