<nav>
  <a class="site-logo" href="/" title="Design Principles logo"><span class="sr-only">Home</span><img src="/images/design-principles-logo.svg" alt="Design Principles Logo, an arrow navigating through a path of decisions"></a>
  <ul class="nav">
    <li class="nav__item about">
      <a  href="/about/">About</a>
    </li>
    <li class="nav__item create" >
      <a href="/create/">Create</a>
    </li>
    <li class="nav__item examples">
      <a href="/examples/">Examples</a>
    </li>
    <li class="nav__item contribute">
      <a href="/contribute/">Contribute</a>
    </li>
    <li class="nav__item">
      <a href="http://designprinciples.news/" target="_blank">News</a>
    </li>
    <!-- <li class="nav__item book">
      <a href="/book/">Book</a>
    </li> -->
  </ul>
</nav>
