<nav class="site-nav">
  <a class="site-logo" href="/" title="Design Principles logo"><span class="sr-only">Home</span><img src="/images/design-principles-logo.svg" alt="Design Principles Logo, an arrow navigating through a path of decisions" style="width: 4em; height: 4em;"></a>
  <ul>
    <li>
      <a class="h3 site-nav__link about" href="/about/">About</a>
    </li>
    <li>
      <a class="h3 site-nav__link guide" href="/guide/">Guide</a>
    </li>
    <li>
      <a class="h3 site-nav__link examples" href="/examples/">Examples</a>
    </li>
    <li>
      <a class="h3 site-nav__link contribute" href="/contribute/">Contribute</a>
    </li>
  </ul>
</nav>
