<p class="h3 bold">Newsletter</p>
        <p><strong><a href="http://designprinciples.news">Sign up</a></strong> for useful resources, articles & updates. </p>
          <form action='https://designprinciples.curated.co/email_subscribers' id='embedded-subscribe-form' method='post'>
          <input class="subscribe-input" id='subscribe-email' name='email' type='email' placeholder="Enter your email address" autocorrect="off" autocapitalize="none" />
          <input name='form_dom_id' value='embedded-subscribe-form' type='hidden' /><input class="subscribe-btn" type='submit' onclick="this.form.submit(); this.disabled=true; this.value='Sending...';" value='Subscribe'/>
          </form>
        <p style="margin-top: 1em;">Don't want to sign up? <a href="http://designprinciples.news/issues.rss">Subscribe via RSS</a>.</p>
