/* carbonads */

div#carbonads a {
  text-decoration: none;
}
.carbon-img {
  float: left;
  margin-right: 1em;
  margin-bottom: 0.6em
}
.carbon-poweredby {
  display: block;
  margin-top: 1em;
  font-size: 0.8em;
}

/* sponsor image */

.sponsor-image {
  width: 100%;
  height: auto;
  @media (min-width: $bp-medium) {
    width: 60%;
  }
}
