@media (min-width: 700px) {
  h1.intro {
    font-size: 6em;
  }

  body.home header .site-nav {
      animation: fadeIn 1s;
      // -moz-animation: fadeIn 1.6s; /* Firefox */
      -webkit-animation: fadeIn 1s; /* Safari and Chrome */
      // -o-animation: fadeIn 1.6s; /* Opera */
      position: relative;
  }

  body.home a.site-logo {
      animation: fadeInUp 1.2s;
      // -moz-animation: fadeInUp 1s; /* Firefox */
      -webkit-animation: fadeInUp 1.2s; /* Safari and Chrome */
      // -o-animation: fadeInUp 1s; /* Opera */
      position: relative;
  }
  body.home header h1 {
      animation: fadeInUp 1.4s;
      // -moz-animation: fadeInUp 1.2s; /* Firefox */
      -webkit-animation: fadeInUp 1.4s; /* Safari and Chrome */
      // -o-animation: fadeInUp 1.2s; /* Opera */
      position: relative;
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
