.site-logo img {
  float: left;
  width: 4em;
  height: 4em;
}
nav {
  grid-column: auto / span 12;
}
ul.nav {
  width: auto;
  padding: 0;
  list-style: none;
  font-weight: bold;
  margin: 0.4em 0 0 4em;
  max-width: 380px;
  @media (min-width: $bp-large) {
    float: right;
    margin-top: 0;
    max-width: none;
  }
}

li.nav__item {
  float: left;
  margin-right: 0.8em;
  cursor: pointer;
  @media (min-width: $bp-large) {
    height: 4em;
    padding: 0 0.4em 0 0.4em;
    margin-right: 0;
  }
}
li.nav__item:last-child {
  margin-right: 0;
}
li.nav__item:hover {
  background: lighten($primary, 20%);
  transition: background-color .3s ease-in-out;
  @media (min-width: $bp-large) {
  border-top: solid $black 4px;
  }
}
li.nav__item:hover a {
  color: $black;
    @media (min-width: $bp-large) {
      margin-top: -2px;
  }
}
li.nav__item:last-child {
  margin-right: 0;
}
li.nav__item a {
  text-decoration: none;
  @media (min-width: $bp-large) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.63157895em; // taken from h3 size, need to mix in
  }
}

body.about li.about,
body.create li.create,
body.examples li.examples,
body.contribute li.contribute,
body.book li.book {
  @media (min-width: $bp-large) {
  border-top: solid $black 4px;
  }
}
body.about li.about a,
body.create li.create a,
body.examples li.examples a,
body.contribute li.contribute a,
body.book li.book a {
  @media (min-width: $bp-large) {
    margin-top: -2px;
  }
}
.pbn {
  padding-bottom: 0!important;
}
