// Scratch styles - these are styles I'm quickly throwing together and prototyping with which will be  eventually tidied/consolodated into the relevant partials if the design works
// ---------------------------------------/
body, html {
  height: 100%;
  // background: lighten($primary, 6%);
  background: $primary;
}
body {background: $primary;}
.footer {
  background: $linen;
}
a {
  color: $black;
  text-decoration: underline; // text-decoration-skip fallback
  text-decoration-skip: ink; // although this is pretty ugly

}

.two-up {
  grid-column: auto / span 12;
  @media (min-width: $mq-l) {
    grid-column: auto / span 6;
    }
}

.mbm {
  margin-bottom: 0.6em;
}
.mbn {
  margin-bottom: 0;
}
.mtn {
  margin-top: 0;
}
.lhs {
  line-height: 1.4;
}
a:hover {
  color: $secondary;
  text-decoration: none;
}
.tile:hover {
  background: lighten($primary, 20%);
}
.tile a:hover, .tile-list a:hover {
  color: $black;
}
a.full-link {
  display: inline-block;
  height: 100%;
  width: 100%;
  line-height: inherit;
}
body.examples .tile:hover {
  background: $primary;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $black;
    margin: 1em 0;
    padding: 0;
}
// p {max-width: 40em;} // test for legibility
.site-logo {
  float: left;
  display: block;
}
.site-logo a img {
  width: 4em;
  height: 4em;
}
.site-logo:hover, .logo:hover, .view-toggle:hover, .view-toggle-list:hover {
  transform: scale(1.05);
  transition: all .2s ease-in-out;
}

.site-nav {
  grid-column: auto / span 12;
}
.site-nav ul {
  list-style: none;
  padding: 0;
  margin-top: 0.5em;
  float: none;
  width: 300px; // forces nav to break onto two lines
  overflow: visible; // allows localised text to overflow if longer
  @media (min-width: $mq-l) {
     padding-left: 1.6em;
     margin: 0.4em;
     float: right;
     width: auto;
    }
}
.site-nav li {
  margin-right: 0.6em;
  font-weight: bold;
  float: left;
  display: inline-block;
}
.site-nav li:last-child {
  margin-right: 0;
}
.site-nav a {
  text-decoration: none;
}
.site-nav a:hover {
  text-decoration: underline;
  color: $black;
}
.full, .post-header {
  grid-column: auto / span 12;
}

.tdn {
  text-decoration: none;
}

.two-thirds {
  grid-column: auto / span 12;
  @media (min-width: $mq-m) {
    grid-column: auto / span 8;
    }
}

.three-up {
  grid-column: auto / span 6;
  position: relative;
  @media (min-width: $mq-m) {
    grid-column: auto / span 4;
    margin-bottom: 1.6em;
    }
}
.info-block, .post-content, article {
  grid-column: auto / span 12;
  position: relative;
  @media (min-width: $mq-m) {
    grid-column: auto / span 8;
    }
}

aside {
  grid-column: auto / span 12;
  @media (min-width: $mq-m) {
    grid-column: auto / span 4;
    }
}

p.source {
  display: block;
  border-bottom: solid 1px $black;
  font-weight: bold;
}
// .what .info-icon {
//   grid-column: auto / span 12;
//   background: red;
//   border-radius: 50%;
//   // will figure out what to do with small screens when I can figure out row swapping
//   @media (min-width: 700px) {
//     grid-column: auto / span 4;
//     width: 500px;
//     height: 500px;
//     bottom: -280px;
//     position: relative;
//     }
// }
//
// .why .info-icon {
//   grid-column: auto / span 12;
//   background: green;
//   // will figure out what to do with small screens when I can figure out row swapping
//   @media (min-width: 700px) {
//     grid-column: auto / span 4;
//     height: 60%;
//     position: relative;
//     top: 0;
//     left: -10%;
//     }
// }

// .who .info-icon {
//   grid-column: auto / span 12;
//   // will figure out what to do with small screens when I can figure out row swapping
//   @media (min-width: 700px) {
//     grid-column: auto / span 4;
//     border-style: solid;
//     border-width: 200px 200px 0 200px;
//     border-color: yellow transparent transparent transparent;
//     margin-top: 65%;
//     }
// }
.arrow:after {
  content: "❯";
  padding: 1em 0.2em;
  font-size: 120%;
  position: relative;
  top: 0.1em;
}

.arrow:hover:after {
  color: $secondary;
}

.info-block {
  padding-top: 1em;
  padding-bottom: 1.6em;
}
.info-block:last-child
  {
    margin-bottom: 0em;
  }

.info-block:after {
  content:"";
  background: $black;
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 8em;
  @media (min-width: $mq-m) {
    width: 12em;
    }
}
body.home header.site-header {
  background: $primary;
  height: 100%;
  // background-image: url(/images/triangle-white.svg);
  // background-position: left top;
}

.site-header {
  height: 4em;
  min-height: 4em;
}
// div.grid {
//   display: grid;
//   grid-gap: 2.2em;
//   grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
//   grid-auto-rows: minmax(100px, auto);
// }
// .grid > div {
//   // border: 1px solid #3bc9db;
//   // display: flex; // not sure why this was here
//   background: $white;
//   padding: 0.4em 1em;
//   // border-radius: 0.4em;
// }
div.page-content {
  background: $white;
}
ol.principles {
  padding-left: 1em;
}
ol.cards {
position: relative;
margin-left: -0.6em;
}

ol.cards li {
  // float: left; // what was I thinking
  // list-style-type: lower-latin;
  counter-increment: step-counter;
  margin: 0 0 0.125em 0;
  // padding-left: 0.2em;
  // line-height: 1.4;
}

// ol.cards li::before {
//     content: counter(step-counter);
//     // margin-right: 0.6em;
//     // font-size: 80%;
//     font-size: 0.9em;
//     // background-color: lighten($mid-grey, 40%);
//     // color: lighten($dark-grey, 20%);
//     // font-weight: bold;
//     // border-radius: 0.2em;
//     position: absolute;
//     left: 0.6em;
//     width: 1.6em;
//     text-align: right;
//     padding: 0.05em;
//     // font-family: Georgia, sans-serif;
//     // font-weight: normal;
//
// }

.sort {
  display:inline-block;
  float: left;
  cursor: pointer;
  user-select: none;
  transition: width 0.3s ease;
}
.sort-arrow {
  height: 0.8em;
  width: auto;
  display: none;
}
.sort:hover {

}
.sort:focus {
}

.sort.asc .sort-arrow{
  transform: rotate(0deg);
  transition: all 0.3s ease;
  display: inline-block;
}

.sort.desc .sort-arrow{
  transform: rotate(180deg);
  transition: all 0.3s ease;
  display: inline-block;

}


ol.cards li:before {

}
img.circle {
  border-radius: 50%;
}
.bold {
  font-weight: bold;
}

// .tile {
//   background: $white;
//   padding: 1em 1.4em;
//   grid-column: auto / span 12;
//   border-radius: 0.4em;
//   @media (min-width: 920px) {
//       grid-column: auto / span 4;
//     }
// }

.tile {
  padding: 0.6em 0.2em;
  border-top: solid 8px $black;
  grid-column: auto / span 12;
  overflow: hidden;
  transition: background-color 0.3s ease;
  @media (min-width: $mq-m) {
        grid-column: auto / span 6;
      }
  @media (min-width: $mq-l) {
        grid-column: auto / span 4;
      }
}
a.view-toggle {
  width: 48px;
  height: 48px;
  float: right;
  background: url(/images/list-view.svg) no-repeat top left;
  float: right;
}
a.view-toggle-list {
  width: 48px;
  height: 48px;
  float: right;
  background: url(/images/grid-view.svg) no-repeat top left;
}
.tile-list {
  padding: 0.6em 0.2em;
  border-top: solid 8px $black;
  grid-column: auto / span 12;
  overflow: hidden;
  transition: background-color 0.3s ease;
}


input.search  {
  height: 2.6em;
  color: $black;
  font-weight: bold;
  border: solid 2px $black;
  padding-left: 1em;
  width: 100%;
  grid-column: auto / span 12;
  @media (min-width: $mq-m) {
        grid-column: auto / span 6;
      }
  @media (min-width: $mq-l) {
        grid-column: auto / span 8;
      }
}
@supports (display: grid) {
  div.toggle {
    display: none; //hidden on mob
    @media (min-width: $mq-m) {
          grid-column: auto / span 6;
          display: block;
        }
    @media (min-width: $mq-l) {
          grid-column: auto / span 4;
        }
  }
}
input.search::placeholder {
  color: $black;
  font-weight: normal;
}
.tile a, .tile-list a {text-decoration: none;}

.tile:last-child {
  background: transparent;
}

input[type=text] {
    padding: 0.4em 1em;
    border: solid 2px $black;
    color: $black;
    height: 48px!important;
}

input[type=text]:focus {
    border-color:#333;
}

.btn, input[type=submit] {
    padding: 0.4em 0.6em;
    background:$primary;
    border:0 none;
    cursor:pointer;
    border: solid 2px $black;
}
input[type=submit]:hover {
  background: darken($primary, 5%);
}


// .ghost {
//   border: dashed 4px $white;
//   background: transparent;
//   position: relative;
//   border-radius: 0.8em; // different to the tile radius for _reasons_
//   padding: 1em;
// }
.ghost {
  border: dotted 8px $black;
  padding-left: 1em;
  padding-right: 1em;
}
// div.indent-block {
//   background: lighten($primary, 35%);
//   padding: 2em;
//   float: right;
//   font-size: 1.4em;
//   max-width: 32em;
//   -webkit-box-shadow: 10px 10px 0px 0px $primary;
//   -moz-box-shadow: 10px 10px 0px 0px $primary;
//   box-shadow: 10px 10px 0px 0px $primary;
// }
// div.indent-block-left {
//   float: left;
// }


// .ghost * {
//   position: relative;
//   top: 50%;
//   transform: translateY(-50%);
//   font-size: $m;
//   display: inline-block;
// }
.ghost:hover {
  // border: solid;
}

.gradient-block {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$primary+0,f9e352+40,fae76b+100 */
background: $primary; /* Old browsers */
background: -moz-linear-gradient(top, $primary 0%,  lighten($secondary, 15%) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, $primary 0%, lighten($secondary, 15%) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, $primary 0%, lighten($secondary, 15%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary', endColorstr='lighten($secondary, 15%)',GradientType=0 ); /* IE6-9 */
height: auto;


}

.alt-idea {
  color: #04ff86;
}
.tile h2 {display: block; margin: 0;}


.icon {
  width: 120px;
  height: auto;
  margin-bottom: -2.8em;
}
.site-footer {
  background: $white;

}
// .site-footer p:first-child {
//   font-size: 1.6em;
// }
// .what, .who, .why {
//   overflow: hidden;
// }
// .what {
//   background: lighten($primary, 10%);
// }
// .why {
//   background-image: url(/images/triangle-white.svg);
//   background-size: 8em;
// }
// .who {
//   background-image: url(/images/triangle-grid.svg);
// }


header.example-header {
  grid-column: 1 / -1;
  border-bottom: solid 3px $black;

}

.help-footer {
  grid-column: 1 / -1;
  background: lighten($primary, 40%);
  border-top: solid 12px $primary;
  border-bottom: solid 2px $primary;
  padding: 1em;
}

pre, code {
  display: block;
  background: $silver;
  padding: 1em;
}

ul.logos {
  list-style: none;
  padding-left: 0;
}

ul.logos li {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 1em;
  margin-bottom: 1em;
}
ul.logos img {
  width: 100%;
  height: auto;
}


.onclick-menu {
    position: absolute;
    display: inline-block;
    width: 44px;
    height: 44px;
    right: 0;
    font-weight: bold;
    text-align: center;
}
.onclick-menu:before {
    content: "…";
}
.onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
}
.onclick-menu:focus .onclick-menu-content {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;

    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
}
.onclick-menu-content {
    position: absolute;
    z-index: 1;

    /* use opacity to fake immediate toggle */
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    text-align: right;
    min-width: 8em;
    position: absolute;
    right: 0;
}
.onclick-menu-content li {
  background: none;
  padding: 0.4em;
  border-top: 1px $silver solid;
  background: $white;
}
.onclick-menu-content li:first-child {
  border-top: none;
}

input, button, submit { border:none; }

// active nav highlighting

body.about nav a.about,
body.create nav a.create,
body.examples nav a.examples,
body.contribute nav a.contribute {
  text-decoration: underline;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

header h1 {
  margin-top: 0.6em;
}

.credit {
  border-bottom: solid 4px $black;
  padding-bottom: 1em;
}
