// Scratch styles
// ---------------------------------------/
body, html {
  height: 100%;
}
body {background: $primary;}

a {text-decoration-skip: ink;}

p {max-width: 40em;} // test for legibility
.site-title {
  width: 80px;
  height: 80px;
  display: block;
  background: black;
  margin: 2em 0 1em 0;
  color: white;
  text-align: center;
}
.site-nav {
  font-size: 2em;
}
body.home header.site-header {
  background: yellow;
  height: 100%;
}
div.grid {
  display: grid;
  grid-gap: 2.2em;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-auto-rows: minmax(100px, auto);
}
.grid > div {
  // border: 1px solid #3bc9db;
  // display: flex; // not sure why this was here
  background: $white;
  padding: 0.4em 1em;
  // border-radius: 0.4em;
}
div.page-content {
  background: $background;
}

ol.cards {
margin-left: -2.4em;
position: relative;
margin-left: 0.2em;
}

ol.cards li {
  // float: left; // what was I thinking
  list-style-type: none;
  counter-increment: step-counter;
  margin: 0 0 0.4em 0;
}

ol.cards li::before {
    content: counter(step-counter);
    margin-right: 0.6em;
    font-size: 80%;
    background-color: rgb(200,200,200);
    color: white;
    font-weight: bold;
    padding: 4px;
    border-radius: 0.2em;
    position: absolute;
    left: 0.6em;
    width: 1.6em;
    text-align: center;

}
ol.cards li:before {

}

.tile h2 {display: block; margin: 0;}


.site-footer {
  background: #ccc;
}
