.tile:hover {
  background: $primary;
}
.tile a:hover, .tile-list a:hover {
  color: $black;
}
body.examples .tile a:visited {
  color: lighten($black, 30%);
}
.ghost a:visited {
  color: $black!important;
}
body.examples .tile a:visited:hover {
  color: $black;
}
a.full-link {
  display: inline-block;
  height: 100%;
  width: 100%;
  line-height: inherit;
}
.ghost {
  border: dotted 8px $black;
  padding-left: 1em;
  padding-right: 1em;
}
.tile h2 {display: block; margin: 0;}
