html, .root {
  font-size: 19px;
  line-height: 29px;
}
body, .article {
  font-size: 1em;
  line-height: 1.52631579em;
  color: $black;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1, .h1 {
  //  L h2
  font-size: 2.63157895em;
  line-height: 1.16em;
  margin-top: 0.58em;
  margin-bottom: 0.58em;
  @media (min-width: $mq-l) {
    // L h1
    font-size: 4.21052632em;
    line-height: 1.0875em;
    margin-top: 0.3625em;
    margin-bottom: 0.725em;
      }
}
h2, .h2 {
  // L h3
  font-size: 1.63157895em;
  line-height: 1.87096774em;
  margin-top: 0.93548387em;
  margin-bottom: 0em;
  @media (min-width: $mq-l){
    // L h2
    font-size: 2.63157895em;
    line-height: 1.16em;
    margin-top: 0.58em;
    margin-bottom: 0.58em;
  }
}
h3, .h3 {
    // L h4
    font-size: 1em;
    line-height: 1.52631579em;
    margin-top: 1.52631579em;
    margin-bottom: 0em;
  @media (min-width: $mq-l){
    // L h3
    font-size: 1.63157895em;
    line-height: 1.87096774em;
    margin-top: 0.93548387em;
    margin-bottom: 0em;
  }
}
h4, .h4{
  // L h5
  font-size: 1em;
  line-height: 1.52631579em;
  margin-top: 1.52631579em;
  margin-bottom: 0em;
  @media (min-width: $mq-l){
    // L h4
    font-size: 1em;
    line-height: 1.52631579em;
    margin-top: 1.52631579em;
    margin-bottom: 0em;
  }
}




// original font size/vertical rhythm calculations for reference:
// h1, .h1 {
//   font-size: 4.21052632em;
//   line-height: 1.0875em;
//   margin-top: 0.3625em;
//   margin-bottom: 0.725em;
// }
// h2, .h2 {
//   font-size: 2.63157895em;
//   line-height: 1.16em;
//   margin-top: 0.58em;
//   margin-bottom: 0.58em;
// }
// h3, .h3 {
//   font-size: 1.63157895em;
//   line-height: 1.87096774em;
//   margin-top: 0.93548387em;
//   margin-bottom: 0em;
// }
// h4, .h4 {
//   font-size: 1em;
//   line-height: 1.52631579em;
//   margin-top: 1.52631579em;
//   margin-bottom: 0em;
// }
// h5, .h5 {
//   font-size: 1em;
//   line-height: 1.52631579em;
//   margin-top: 1.52631579em;
//   margin-bottom: 0em;
// }
p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.52631579em;
}
p {
  max-width: 40em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
