// Variables
// ---------------------------------------/

$container-width: 40em !default;
$grid-gutter:     10px !default;


// Colors
$white:             #fff;
$black:             #333;
$primary:           #f7d708; //yellow
$secondary:         #0015dd; //blue

$green:             #9ccf31;
$red:               #ce0000;
$orange:            #ff9e00;

$dark-grey:         #333;
$mid-grey:          #666;
$light-grey:        #999;
$silver:            #e6e6e6;

$background:        $silver;

// font sizes
$s:                 20px;
$m:                 30px;
$l:                 90px;
// Styles
$text_color:        $black;

$padding-s:         0.1em;
$padding-m:         0.3em;
$padding-l:         1.6em;

// Media Queries
$mq-s:              400px;
$mq-m:              700px;
$mq-l:              920px;
$max-width:         1080px;

// Font stack
$body-font: "HK Grotesk", Helvetica, "Helvetica Neue", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;

$body-font-bold: "HK Grotesk Bold", Helvetica, "Helvetica Neue", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;




// The base body size
$body-font-size: 1em !default;

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
