// Variables
// ---------------------------------------/

$container-width: 40em !default;
$grid-gutter:     10px !default;

$max-width: 68em;

// Colors
$white:             #fff;
$black:             #333;
$primary:           yellow;

$background:        #ccc;

// Styles
$text_color:        $black;

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
// Font stack
$body-font: "system", sans-serif;


// The base body size
$body-font-size: 1em !default;

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
