---
layout: default
---
<div class="wrapper">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="h3 mtn bold">I'm creating a book on design principles for release on paperback and eBook in 2019.</p>

    </header>
</div>

      <div class="wrapper">
      <div class="two-up">
        {{ content }}
        <p>
          <form action="https://tinyletter.com/benbrignell" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/benbrignell', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
          <input class="subscribe-input" input type="text" name="email" id="tlemail" placeholder="Enter your email address" autocorrect="off" autocapitalize="none" />
          <input type="hidden" value="1" name="embed"/><input class="subscribe-btn" type="submit" value="Get book updates" />
          </form>
        </p>
          <p>I'll only send infrequent and significant updates on the progress of the book and things related to its release.</p>
          <h3 class="mtn">Want to participate?</h3>
        <p>I'm currently interviewing designers about their experiences, challenges and processes when working with design principles. </p><p>If you are interested in participating and providing insight about your experience working with design principles <a href="https://benbrignell.com/contact/">please get in touch</a>.</p>
        </div>
        <div class="two-up">
          <h3 class="mtn">What will the book cover?</h3>
          <ul>
            <li>What are design principles?</li>
            <li>What types of design principles are there?</li>
            <li>Why are they useful?</li>
            <li>What makes good design principles?</li>
            <li>Who use them?</li>
            <li>How design principles help with decision-making</li>
            <li>How design principles change over time</li>
            <li>More topics to follow…</li>
          </ul>
      </div>
    </div>
