---
layout: default
---


      <!-- <header class="post-header">

      </header> -->
      <article>
        <h1>{{page.title}}</h1>
        <p>{{page.summary}}</p>
        <ol class="cards">
        {% for principles in page.principles %}
          <li><h2 class="list">{{principles.principle}}</h2>
          {% for chicken in principles.principle %}
            <p>{{principle.chicken}}</p>
          </li>
          {% endfor %}
        {% endfor %}
      </ol>
      </article>
      <aside>
        <p class="source">Source:</p>
        <p><a href="{{page.link}}">{{page.link | remove: 'https://'  }}</a></p> <!--need to figure out how to pass 3 arguments, 'https://', 'http://', 'www.' isn't working (but should)-->

      </aside>
