---
layout: default
---

<div class="wrapper">
  <header class="post-header">
    {% for post in site.examples %} {% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %} {% endfor %}
    <h1 class="post-title h2" style="margin-bottom: 0.2em;">{{ page.title }}</h1>
  </header>
</div>

<div id="search-list">
  <div class="wrapper">
    <input class="search" placeholder="Search all {{ site.examples.size }} examples" />
    <div class="toggle">
      <span class="sort btn btn-secondary" data-sort="title">
        Sort order by title <img src="{{site.baseurl}}/images/sort-arrow.svg" class="sort-arrow" alt="arrow indicating sort order">
      </span>
      <a href="javascript:return false;" class="view-toggle">
      </a>

    </div>
  </div>


  <div class="wrapper list tiles">
    {% include block-grid.html %}

  </div>
</div>
