---
layout: default
---
<div class="wrapper">
        <header class="example-header">
        <h1>{{page.title}}</h1>
        <div style="max-width: 40em;">
          {% if page.overview %}
            <p>{{page.overview | newline_to_br}}</p>
          {% else %}
            {% assign missingOverview = true %}
          {% endif %}
          {% if page.overview-author %}
            <p>Overview by <a href="https://twitter.com/{{page.overview-author}}">{{page.overview-author}}</a></p>
          {% endif %}
        </div>
      </header>

      <article>
        <ol class="principles">
            {% for principle in page.principles %}
              <li id="{{principle.principle | slugify}}">
                <h2>{{ principle.principle }}</h2>

              {% if principle.summary %}
                <p>
                  {{ principle.summary  | newline_to_br | markdownify }}
                </p>
              {% else %}
              {% assign missingSummary = true %}
              {% endif %}

            {% endfor %}
          </li>
      </ol>
      </article>
      <aside>


            <!-- <p>
              <strong>Last modified:</strong><br>
              {{ page.last_modified_at | date: '%d %B %Y' }}
            </p> -->

            {% if page.author %}
            <p><strong>Author:</strong><br>
              {{page.author}}
            </p>
            {% else %}
            {% assign missingAuthor = true %}
            {% endif %}

            {% if page.link %}
            <p><strong>Source:</strong><br>
              <a href="{{page.link}}" class="wrap-string">{{page.link | remove: 'https://' | remove: 'http://' | remove: 'www.' }}</a>
            </p>
            {% else %}
            {% assign missingSource = true %}
            {% endif %}

            <p>&nbsp;</p>

            <p><a href="https://github.com/benbrignell/principles.design/blob/master{{page.url | replace:'examples','_examples'}}.md">Edit this page</a></p>

            <hr>
            <p class="h3"><svg style="margin-bottom: 0;" viewBox="0 0 140 140" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><g transform="matrix(14,0,0,14,0,0)"><path d="M9.5,6.5a1,1,0,0,1-1,1H5l-2.5,2v-2h-1a1,1,0,0,1-1-1v-5a1,1,0,0,1,1-1h7a1,1,0,0,1,1,1Z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3.250 4.000 A0.250 0.250 0 1 0 3.750 4.000 A0.250 0.250 0 1 0 3.250 4.000 Z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path><path d="M6.250 4.000 A0.250 0.250 0 1 0 6.750 4.000 A0.250 0.250 0 1 0 6.250 4.000 Z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path></g></svg></p>
            <p class="h4" style="margin-top: 0;">
              <strong>Want to talk about implementing design principles with your team or organisation?</strong><br>
              <a href="https://calendly.com/benbrignell/design-principles-office-hour">Book an office hour</a>.
            </p>
            <hr>
      </aside>



        {% include missing-info.html %}
</div>
