---
layout: default
---

<div class="wrapper">
  <header class="post-header">
    {% for post in site.examples %} {% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %} {% endfor %}
    <h1 class="post-title" style="margin-bottom: 0.2em;">{{ page.title }}</h1>
  </header>
</div>

<div id="search-list">
  <div class="wrapper">
    <input class="search" placeholder="Search all {{ site.examples.size }} examples" />
    <div class="toggle" style="text-align: right;">
      <button class="sort" data-sort="title">
        Sort by title
      </button>
      <a href="javascript:return false;" class="view-toggle">
      </a>

    </div>
  </div>


  <div class="wrapper tiles">
    <div class="list">
    {% include block-grid.html %}
    </div>
    {% include block-tile-ghost.html %}

  </div>
</div>
