---
layout: default
---
      <header class="example-header">
        <h1>{{page.title}}</h1>
        <div style="max-width: 40em;">{{page.content}}</div>
      </header>

      <article>
        <ol class="principles">
            {% for principle in page.principles %}
              <li id="{{principle.principle | slugify}}">
                <h2>{{ principle.principle }}</h2>
              <p>
              {% for summary in principle.summary %}
                {{principle.summary}}

                {% else %}
              </p>
              {% endfor%}
            {% endfor %}
          </li>
      </ol>
      </article>
      <aside>


            <p>
              <strong>Last modified:</strong><br>
              {{ page.last_modified_at | date: '%d %B %Y' }}
            </p>

            {% if page.author %}
              <p><strong>Author:</strong><br>
                {{page.author}}
              </p>
            {% endif %}

            {% if page.link %}
              <p><strong>Source:</strong><br>
                <a href="{{page.link}}">{{page.link | remove: 'https://' | remove: 'http://' | remove: 'www.' }}</a>
              </p>
            {% endif %}


        <!-- <p class="source">Principles:</p>
        <ol class="cards">
          {% for principles in page.principles %}
            <li>
              <a href="#{{principles.principle | slugify}}">{{principles.principle}}</a>
            </li>
          {% endfor %}
        </ol> -->
      </aside>



      {% if page.author or page.link or page.content or principle.summary == null%}

        <div class="help-footer">
          <p class="h3">Help needed for "{{page.title}}" Design Principles!</p>
          <p>The following is missing from this set of principles: </p>
          {% if page.author == null %}
          <p><strong>Author:</strong> e.g. <pre>author: Margaret Attwood</pre></p>
          {% endif %}
          {% if page.link == null %}
          <p><strong>Source:</strong> e.g. <pre>
source: http://example.com
          </pre></p>
          {% endif %}
          {% if page.content == null %}
          <p><strong>Overview:</strong> e.g. <pre>
overview: This set of principles is designed to promote inclusivity and accessibility…</pre></p>
          {% endif %}

          {% if principle.summary == null %}

          <p><strong>Summary:</strong> Each design principle can have a brief summary, e.g.
            <pre>
- principle: A poster has to be joyous, unless it has to arouse compassion.
  summary: Something something</pre>
          </p>
          <p>It would be great if you could contribute and <a href="{{site.contribute-url}}">update this set of principles</a> with anything that's missing!</p>
          {% endif %}

      </div>
      {% endif %}
