---
layout: default
---
<div class="wrapper">
    <header class="example-header">
      <h1 class="post-title">{{ page.title }}</h1>
    </header>
    <article class="post-content">
      {{ content }}

      <hr>


      {% capture the_collection %}{{page.collection}}{% endcapture %}
        {% if page.collection %}
          {% assign  document = site[the_collection]  %}
        {% endif %}

      {% for links in document  %}
        {% if links.title == page.title %}
          {% unless forloop.first %}
            {% assign prevurl = prev.url %}
            {% assign prevtitle = prev.title %}
          {% endunless %}
          {% unless forloop.last %}
            {% assign next = document[forloop.index] %}
            {% assign nexturl = next.url %}
            {% assign nexttitle = next.title %}
          {% endunless %}
        {% endif %}
        {% assign prev = links %}
      {% endfor %}

      <script>
      document.body.onkeyup = function(e){
      if (e.keyCode == '37') { window.location = '{{prevurl}}'; }
      if (e.keyCode == '39') { window.location = '{{nexturl}}'; }
      };
      </script>

      <div class="wrapper" style="width: 100%;">
        <div class="two-up">
          {% if prevurl %}
            <span class="h3"><strong>❮</strong></span>
            <span><a href="{{prevurl}}" class="prev">{{prevtitle}}</a></span>
            {% endif %}
        </div>
        <div class="two-up" style="text-align: right;">
          {% if nexturl %}
            <span><a href="{{nexturl}}" class="nxt">{{nexttitle}}</a></span>
            <span class="h3"><strong>❯</strong></span>
          {% endif %}
        </div>


    </div>
    <hr>
    </article>

    <aside>
      <ul class="sub-nav">
        <li class="introduction"><a href="{{site.baseurl}}/guide/">Introduction</a></li>
        <li class="what"><a href="{{site.baseurl}}/guide/what-are-design-principles/">What are Design Principles?</a></li>
        <li class="why"><a href="{{site.baseurl}}/guide/why-use-them/">Why use them?</a></li>
        <li class="who"><a href="{{site.baseurl}}/guide/who-uses-them/">Who uses them?</a></li>
        <li class="create"><a href="{{site.baseurl}}/guide/create/">Create</a></li>
        <li class="resources"><a href="{{site.baseurl}}/guide/resources/">Resources</a></li>

      </ul>
    </aside>
</div>
