---
layout: default
---
<div class="wrapper">
    <header class="post-header">
    </header>
    <aside>
      <ul class="">
        <!-- <li><a href="{{site.baseurl}}/guide/">Guide</a></li> -->
        <li><a href="{{site.baseurl}}/guide/what-are-design-principles/">What are Design Principles?</a></li>
        <li><a href="{{site.baseurl}}/guide/why-use-them/">Why use them?</a></li>
        <li><a href="{{site.baseurl}}/guide/who-uses-them/">Who uses them?</a></li>
        <li><a href="{{site.baseurl}}/guide/create/">Create</a></li>
        <li><a href="{{site.baseurl}}/guide/resources/">Resources</a></li>

      </ul>
    </aside>
    <article class="post-content">
      <h1 class="post-title">{{ page.title }}</h1>

      {{ content }}

      <hr>


      {% capture the_collection %}{{page.collection}}{% endcapture %}
        {% if page.collection %}
          {% assign  document = site[the_collection]  %}
        {% endif %}

      {% for links in document  %}
        {% if links.title == page.title %}
          {% unless forloop.first %}
            {% assign prevurl = prev.url %}
            {% assign prevtitle = prev.title %}
          {% endunless %}
          {% unless forloop.last %}
            {% assign next = document[forloop.index] %}
            {% assign nexturl = next.url %}
            {% assign nexttitle = next.title %}
          {% endunless %}
        {% endif %}
        {% assign prev = links %}
      {% endfor %}

      <script>
      document.body.onkeyup = function(e){
      if (e.keyCode == '37') { window.location = '{{prevurl}}'; }
      if (e.keyCode == '39') { window.location = '{{nexturl}}'; }
      };
      </script>

      {% if prevurl %}<a href="{{prevurl}}" class="prev">< {{prevtitle}}</a>{% endif %}<br />

      {% if nexturl %}<a href="{{nexturl}}" class="nxt">{{nexttitle}} ></a>{% endif %}

    </article>


</div>
