<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="home">



    {% include header.html %}
<!-- <div style="padding-top: 2em; margin-bottom: 2em; border-bottom: dashed 12px #efefef;"> -->
          
<!-- </div> -->
        <div class="wrapper">
        {% include info-block.html title="What are Design Principles?" description="Design Principles are a set of guidelines that empower a team to make wise decisions and appropriate trade-offs when designing, building and innovating."%}

        {% include info-block.html title="Why use them?" description="Applying design principles fosters a cohesive problem-solving approach, promoting efficiency, consistency and user-centricity." %}

        {% include info-block.html title="Who uses them?" description="Organisations, individuals, design system and product teams have benefited from writing and following their principles.<br>Here are a few examples:" %}
      </div>

          {% include block-grid-featured.html%}

    {% include footer.html %}

  </body>

</html>
