<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="home">

    {% include header.html %}
    <div class="page-content">
      <div class="wrapper">
        <header class="post-header">
          <h2>Recommended</h2>
        </header>
        {{ content }}
        <div class="grid">
        {% for example in site.example %}
          <div class="tile">
            <h2><a href="{{example.link}}">{{example.title}}</a></h2>
          {{example.summary}}
          <ol class="cards">
          {% for principles in example.principles %}
            <li>{{principles.principle}}</li>
          {% endfor %}
        </ol>
        </div>
        {% endfor %}
        <div class="tile" style="border: dashed 4px #aaa; background: none; text-align: center;">
            <a href="https://github.com/benbrignell/design-principles">Add your own</a>
        </div>
        </div>
        {% for post in site.example %}
        {% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
        {% endfor %}
        <p><a href="#">See all {{ post_count }} examples</a></p>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
